.profile-img {
  height: 5%;
  width: 5%;
  border-radius: 100px;
  margin-right: 10px;
}
.compose-section {
  display: flex;
  padding: 2%;
}
.input-box {
  width: 100%;
  border: none;
}
.input-section {
  display: flex;
  height: 100%;
}
.color-boxes {
  width: 100%;
}
.colorbox-section {
  display: flex;
}
.box-img {
  padding-top: 3px;
  width: 50%;
  padding-top: 2px;
  height: 25%;
}
.btn-option {
  background-color: rgb(208, 212, 214);

  width: 50%;
  border: 0cm;
  padding: 10px;
  margin-right: 2%;
  text-align: left;
  border-radius: 50px;
}
.button-up {
  padding-left: 2%;
  display: flex;
  margin: 5px;
}
