.footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(136, 138, 139);
  background-size: cover;
  padding-right: 1%;
}
select {
  border: none;
}
.btn-post {
  background-color: rgb(11, 101, 179);
  border-radius: 2px;
  width: 5%;
  margin-left: 1%;
}
